@{
    ViewBag.Title = "O aplikaciji";
}
<h2>O aplikaciji</h2>
<h3>Ova web aplikacija je razvijena u svrhu završnog rada kako bi se na vrlo jednostavan način objasnila tehnologija izrade web ili mobilnih sadržaja putem MVC radnog okruženja.</h3>

<p></p>
