@{
    ViewBag.Title = "VUŠ evidencija";
}

<div class="jumbotron">
    <h1>Elektronska evidencija studenata</h1>
    <p class="lead">Veleučilišta u Šibeniku</p>
    <a class="btn btn-ext" href="/Kolegij">Lista kolegija</a>
    <a class="btn btn-ext" href="/Profesor">Lista profesora</a>
    <a class="btn btn-ext" href="/Student">Lista studenata</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="" contenteditable="false">Prijavite se</h2>
        <p>Prijavite se pomoću svog google ili facebook računa kako bi ste se mogli elektronski evidentirati na nastavi. Hvala na razumijevanju.</p>
        <p></p><center class=""><a class="btn btn-ext" <a="" href="/Account/Login" id="loginLink">Prijavi se</a></center><p></p>
    </div>

    <div class="col-md-4">
        <center><img src="~/Content/img/vus.png" /></center>
    </div>

    <div class="col-md-4" style="float: right">
        <h2 class="" contenteditable="false">Registriraj se</h2>
        <p>Ne želite se logirati s google ili facebook računom. Kreirajte novi račun i evidentirajte se putem novog računa. Hvala na razumijevanju.</p>
        <p></p><center class=""><a class="btn btn-ext" <a="" href="/Account/Register" id="registerLink">Registriraj se</a></center><p></p>
    </div>
</div>